table {
   border: 4px solid rgb(1, 1, 1)
}

td:hover {
   background-color: lightskyblue;
   color: black;
}

tr, th {
   background-color: darkred;
   color: yellowgreen
}

tr, td {
   background-color: darkgray;
   color: rgb(174, 140, 210);
}